button {
  padding: 0;
}

.button {
  font-size: var(--font-size-6);
  font-weight: var(--weight-1);
  padding: 0.6937rem 2.25rem;
  text-align: center;
}

.button-outline {
  border: 1px solid var(--color-brand-1);
  color: var(--color-brand-1);
}

.button-brand {
  background-color: var(--color-brand-1);
  color: var(--color-white);
}

.button-outline-alert {
  border: 1px solid var(--color-alert);
  color: var(--color-alert);
}

.button-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 31px;
  width: 31px;
}