.logo {
  width: 203px;
}

.header {
  border: 1px solid var(--color-opacity-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  row-gap: 2.375rem;
  padding: 1rem;
}

.hamburguer-menu {
  row-gap: 0.625rem;
  width: 24px;
}

.hamburguer-menu .trace {
  height: 5px;
  width: 100%;
}

@media (min-width: 800px) {
  .header .close-button {
    display: none;
  }

  .header {
    flex-direction: row;
  }

  .header .button-group {
    display: flex;
  }
}