.logo {
  width: 203px;
}

.header {
  border: 1px solid var(--color-opacity-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  row-gap: 2.375rem;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.hamburguer-menu {
  row-gap: 0.3rem;
  position: relative;
  width: 100%;
  height: fit-content;
}

.hamburguer-menu .trace {
  background-color: var(--color-grey-1);
  border-radius: 1rem;
  height: 3px;
  transition: 0.5s;
  width: 100%;
  top: 40%;
}

.hamburguer-menu:hover.rotate {
  height: 100%;
}

.hamburguer-menu:hover.rotate .trace:nth-child(1){
  transform: rotate(140deg);
  position: absolute;
}

.hamburguer-menu:hover.rotate .trace:nth-child(2),
.hamburguer-menu:hover.rotate .trace:nth-child(3) {
  transform: rotate(40deg);
  position: absolute;
}


@keyframes translate-1 {
  0% {

  }

  100% {

  }
}

@media (min-width: 580px) {
  .header .hamburguer-menu {
    display: none;
  }

  .header {
    flex-direction: row;
  }

  .header .button-group {
    display: flex;
  }
}