.modal-wrapper {
  background-color: var(--color-opacity-3);
  position: fixed;
  z-index: 100;
}

.modal-wrapper .button-icon {
  width: 20px;
}

.modal {
  background-color: var(--color-white);
  padding: 2rem 2.5rem;
}

.modal-content {
  min-width: 423px;
  padding: 0;
}

.modal-2 {
  background-color: var(--color-white);
  max-width: 857px;
  height: 560px;
  padding: 0;
  width: 100%;
}

.modal-2 .close-modal {
  padding: 1.5rem;
}

.modal-content-2 {
  max-width: 100%;
  padding: 0;
}

.title-1,
.modal-text {
  padding-inline: 1.5rem;
}

.modal-content .title-2 {
  margin-bottom: 1.25rem;
}

.modal-content .title-3 {
  line-height: 150%;
  margin-block: 1.5rem 2.375rem;
  text-align: center;
}

.modal-content-2 .title-4 {
  margin-bottom: 0.6875rem;
}

.modal-content-2 .input-1 {
  margin-bottom: 0.875rem;
}

.modal-content-2 .button {
  text-align: end;
}

.modal-content-2 .text-4 {
    margin-bottom: 1.5rem;
}

@media (min-width: 595px) {
  .modal-2 {
    margin: 10px;
  }

  .modal-text {
    flex-direction: row;
  }
  
  .modal-content-2 .title-1 {
    text-align: start;
  }
}