.modal-wrapper {
  animation: show ease 0.5s;
  background-color: var(--color-opacity-3);
  position: fixed;
  z-index: 100;
}

.modal-wrapper .button-icon {
  width: 20px;
}

.modal {
  animation: drop ease 0.5s;
  background-color: var(--color-white);
  max-width: 423px;
  padding: 2rem 2rem;
}

.modal-content {
  padding: 0;
}

.modal-2 {
  animation: drop ease 0.5s;
  background-color: var(--color-white);
  height: max-content;
  max-width: 857px;
  min-height: 560px;
  padding: 0;
  width: 100%;
}

.modal-alert {
  max-width: 623px;
}

.modal-2 .close-modal {
  padding: 1.5rem;
}

.modal-content-2 {
  max-width: 100%;
  padding: 0;
}

.modal-2 .title-1,
.modal-2 .modal-text {
  padding-inline: 1.5rem;
}

.modal-content .title-2 {
  margin-bottom: 1.25rem;
}

.modal-content .title-3 {
  line-height: 150%;
  margin-block: 1.5rem 2.375rem;
  text-align: center;
}

.modal-content-2 .title-4 {
  margin-bottom: 0.6875rem;
}

.modal-text {
  text-align: center;
}

.modal-content-2 .input-1 {
  margin-bottom: 0.875rem;
}

.modal-content-2 .button {
  text-align: end;
}

.modal-content-2 .text-4 {
  margin-bottom: 1.5rem;
}

.modal-content-2 .button-sucess {
  text-align: center;
}

@media (min-width: 595px) {
  .modal-2 {
    margin: 10px;
  }
  
  .modal-text {
    align-items: flex-start;
    flex-direction: row;
    text-align: start;
  }
  
  .modal-wrapper .title-1 {
    text-align: start;
  }
  
  .modal-content-2 .button-sucess {
    text-align: end;
    width: fit-content;
  }

}

@keyframes drop {
  0% {
    transform: translateY(-150px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes drop-reverse {
  0% {
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(-1000px);
  }
}