.toast {
  animation: show ease 0.5s;
  bottom: 20px;
  border-radius: 0.625rem;
  color: var(--color-white);
  max-width: 208px;
  height: fit-content;
  right: 20px;
  text-align: center;
  padding: 1.25rem;
  position: fixed;
  z-index: 1000;
}

.toast-sucess {
  background-color: var(--color-sucess);
}

.toast-alert {
  background-color: var(--color-alert);
}

.toast .text-4 {
  font-size: 0.875rem;
  line-height: 150%;
}

@keyframes show {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}