main {
  margin-top: 6.5rem;
}

.add-button {
  box-sizing: content-box;
  padding-inline: 50px;
  position: relative;
}

.add-button::before {
  content: url("../../assets/imgs/plus.svg");
  display: block;
  position: absolute;
  left: 10px;
}

section.cards-container {
}

ul.cards-container {
  gap: 1.75rem 5.75rem;
  height: 385px;
  margin-top: 0.625rem;
  overflow-y: auto;
}

ul.cards-container::-webkit-scrollbar {
  width: 9px;
}

ul.cards-container::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-1);
}

.organization-card {
  row-gap: 0.5625rem;
  min-width: 489px;
  height: fit-content;
  padding: 1.3125rem 1.8125rem;
}

.button-icon {
  width: fit-content;
}

.button-group {
  gap: 10px;
}