body>div {
  padding: 1.25rem;
}

main.container {
  column-gap: 3.75rem;
}

.full-viewport {
  height: 120vh;
}

.half-container {
  max-width: 550px;
}

.side-img {
  object-fit: cover;
}

.cards-title {
  position: relative;
}

.cards-container  {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
  position: relative;
}

.cards-title .button-icon {
  position: absolute;
  right: 10px;
  top: 8px;
}

.select-sectors,
.sectors span {
  cursor: pointer;
}

.available-sectors {
  border-right: 1px solid var(--color-opacity-2);
  border-left: 1px solid var(--color-opacity-2);
  background-color: var(--color-white);
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);;
  height: fit-content;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.available-sectors span {
  border-bottom: 1px solid var(--color-opacity-2);
  padding: 0.625rem;
}

.organizations-list {
  flex-wrap: nowrap;
  gap: 1.25rem;
  overflow: auto;
  padding: 2rem 1rem;
}

.organizations-list::-webkit-scrollbar {
  padding-top: 5px;
  height: 5px;
}

.organizations-list::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-1);
  border-radius: 0.25rem;
}

.details {
  margin-bottom: 1rem;
  row-gap: 1rem;
}

.details .button-outline {
  border-radius: 20px;
  padding: 0.375rem 1rem;
  width: fit-content;
}

@media (min-width: 580px) {
  .organizations-list::-webkit-scrollbar {
    width: 5px;
  }

  .cards-container {
    height: 100%;
  }

  .organizations-list {
    flex-direction: column;
    height: 700px;
    width: 100%;
  }

  .organization-card {
    max-width: none;
    height: unset;
    padding-inline: 25px;
  }

  .details {
    margin-top: 14px;
    margin-bottom: 0;
  }

  .details .button-outline {
    box-sizing: content-box;
    padding-inline: 26px;
  }
}

@media (min-width: 1000px) {
  main.container {
    justify-content: space-between;
  }

  .side-img.d-none {
    display: block;
  }
}